extends layout.pug

block scripts
  script.
    alert('alert from a block');

block content
  h1= message
  .container
    p Starting using Pug!
  p
    | text as content
  p.
    text as content
  p text as content
  a.foo_link(href='about.html', target='_blank') About Us
  div#main main content
  div.red text in red