doctype html
html(lang='en')
    head
        title= title
        style(type="text/css").
            body {
                color: red;
            }
        block scripts
    body
        p Hello World
        h1 This really should work
        block content
        block foot
            p This is a footer.