doctype html
html(lang='en')
  head
    title= title
    style(type="text/css").
      body { 
        color:  black;
      }
    block scripts
  body
    block content
      ul
        each hero in heroes
          li= hero.name
    block foot